.top-bar{
	background-color: #17a2b8;
	padding: 2px;
}
.row-setting p {
font-weight: bold;
color: white;
}
.row img{

	height: 160px;
}

.row-col {
	padding-top: 20px;
	
}
 .carousel-inner{
 	 width: 100%;
    height: 100%;
 }
 .carousel-item img{
width: 100%;
height: 100%;
 }