*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to left, #fff 80%,#c3f5ff 20%)
}
.navsection{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	 background-image: linear-gradient(to top, #fff 80%,#c3f5ff 20%)
}
.logo{
	width: 40%;
	color: #fff;
	background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
	padding-left: 100px;
	box-sizing: border-box;
}
.logo h1{
	text-transform: uppercase;
	font-size: 1.6em;
	animation: name 2s linear infinite;
	animation-direction: alternate;
}
@keyframes name{
	from{padding-left: 40px;}
	to{padding-right: 40px;}	
}

nav{
	width: 60%;
	display: flex;
	justify-content: space-around;
}
nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 900;
	font-size: 17px;
	position: relative;
}
nav a:before{
	content: "";
	position: absolute;
	top:110%;
	left: 0;
	width: 0%;
	height: 2px;
	border-bottom: 2px solid #4458dc;
	transition: all .4s;

}
nav a:hover:before{
	width: 100%;

}
main{
	height: 80vh;
	justify-content: space-around;
	display: flex;
	align-items: center;
}
.rightside img{
	height: auto;
	max-width: 400px;
}
.leftside{
	color: #000;
	text-transform: uppercase;
}
.leftside h3{
font-size: 38px;
margin-bottom: 20px;
}
.leftside h1{
font-size: 38px;
margin-bottom: 40px;
font-weight: 400px;
word-spacing: 5px;
}
.leftside h2{
margin-bottom: 30px;
font-weight: 400px;
word-spacing: 5px;
}
.leftside .btn1{
text-decoration: none;
font-weight: 900;
font-size: 14px;
padding: 12px 25px;
cursor: pointer;
text-transform: uppercase;
border-radius: 5px;
color: #fff;
letter-spacing: 0px;
background-image: linear-gradient(#8d98e3 40%, #854fee 60%);

}
.leftside .btn2{
text-decoration: none;
font-weight: 900;
font-size: 14px;
padding: 12px 25px;
cursor: pointer;
text-transform: uppercase;
border-radius: 5px;
color: #fff;
letter-spacing: 0px;
background-image: linear-gradient(#8d98e3 40%, #854fee 60%);

}